<form action="/recipes" method="post">
<p>Recipe Name: <input type="text" name="name"></p>
<p>Recipe Ingredients: <input type="text" name="ingredients"></p>
<p>Recipe cook time: <input type="integer" name="cook_time"></p>
<button type="submit">Submit New Recipe</button>
</form>